*{
	margin: 0;
	padding: 0;
}
.vote{
	width: 336px;
	height: 195px;
	margin-top: 15px;
	float: right;
	background-color:white;
	border: 2px solid darkorchid;
	margin-bottom: 20px;
}
.vote header{
	text-align: center;
	margin-top: 18px;
	margin-bottom: 20px;
}
.vote h2{
	margin-top:10px;
	font-family: "华文彩云";
	font-size: 24px;
}
.vote p{
	margin-left:38px;
	margin-top:19px;
	font-weight: bold;
}
.vote meter{
	width:100px;
}
.vote span{
	margin-left:9px;
}
